<div id="menu-grid">
  <div class="btn btn-link navbar-btn btn-grid"><span class="glyphicon glyphicon-th"></span></div>
  <div class="popover-content hidden">
    <div class="btn-group">
      {{#each cells}}
          <a href="#home/{{j}}/{{i}}" data-col="{{j}}" data-row="{{i}}" class="btn btn-default btn-xs cell"></a>
      {{/each}}
  </div>
</div>
