$columns: 6;
@mixin col-x-list {
  @for $i from 1 through $columns {
    @for $j from 1 through $columns {
      .cell-#{$i}-#{$j} {
        height: 100%/$j;
        width: 100%/$i;
        h1 {
          font-size: 6em/$i;
        }
      }
    }
  }
}
@include col-x-list;
